@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
.die-container {
  display: grid;
  grid-template: auto auto/repeat(5, 1fr);
  margin-top: 10px;
  gap: 15px;
}

.die-face {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-shaking {
  animation-name: wobble;
  animation-duration: 1s;
}

/* Setting Animation effect to the 
   dice using css keyframe */
@keyframes wobble {
  from {
    transform: translate3d(0, 0, 0);
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.stats-container {
  margin-top: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.current-section {
  background-color: rgb(255, 206, 115);
  border-radius: 10px;
  width: 150px;
  font-weight: bold;
  box-shadow: 0 0px 5px 5px rgb(255, 206, 115);
}
.current-section .current-time {
  font-weight: 500;
}
.current-section .current-rolls {
  font-weight: 500;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #000000;
}

.best-section {
  box-shadow: 0 0px 5px 5px rgb(215, 255, 151);
  align-items: center;
  width: 150px;
  background-color: rgb(215, 255, 151);
  font-weight: bold;
  border-radius: 10px;
}
.best-section .best-rolls {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffbf00;
  text-shadow: 1px 1px 1px #000000;
}
.best-section .best-time {
  font-weight: 500;
}

/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .best-section {
    width: 190px;
  }
  .current-section {
    width: 190px;
  }
  .die-container {
    gap: 20px;
  }
}
/* Large devices (desktops, 992px and up) */
/* X-Large devices (large desktops, 1200px and up) */
/* XX-Large devices (larger desktops, 1400px and up) */
/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
/* X-Small devices (portrait phones, less than 576px) */
/* Small devices (landscape phones, less than 768px) */
/* Medium devices (tablets, less than 992px) */
/* Large devices (desktops, less than 1200px) */
/* X-Large devices (large desktops, less than 1400px) */
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background: rgb(58, 180, 88);
  background: linear-gradient(90deg, rgba(58, 180, 88, 0.5) 0%, rgba(252, 253, 29, 0.5) 50%, rgba(252, 176, 69, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ab458",endColorstr="#fcb045",GradientType=1);
  padding: 20px;
}

main {
  background-color: rgb(245, 245, 245);
  height: 520px;
  max-width: 650px;
  border-radius: 5px;
  margin: 200px auto;
  box-shadow: 0 0px 10px 5px rgb(245, 245, 245);
  padding: 40px 0 0 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fw-bold {
  font-weight: bold;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
  padding: 0 10%;
}

.roll-dice {
  height: 50px;
  width: 120px;
  border: none;
  border-radius: 6px;
  background-color: #5035ff;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin: 20px 0 10px 0;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}/*# sourceMappingURL=main.css.map */